html {  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #2F4F4F;
}

body {
  margin: 0;
}

.people {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 30px 40px;
  padding: 30px;
  justify-content: center;
}

@media (min-width: 1000px) {
  .people {
    grid-template-columns: repeat(4, 200px);
  }
}

.person {
  width: 200px;
  height: 231px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: visible;
  z-index: 0;
}

.card {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: auto;

  background: white;
  border-radius: 10px;

  padding: 0;

  transform-origin: center center;
  transition: transform 1s, border-radius 1s;
}

.details {
  text-align: center;
}

.extra {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 8px;

  display: none;
}

.person:hover {
  z-index: 1;
}

.person:hover .card {
  background-color: #EEEEEE;
  border-radius: 12px;
  padding: 12px;
  margin: -12px;

  transform: scale(1.2);
}

.person:hover .image {
  border-radius: 60px;
}

.person:hover .extra {
  display: block;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: border-radius 1s;
}

.photo {
  position: relative;
  margin-bottom: 8px;
}

.rank {
  position: absolute;
  right: 10px;
  top: 82px;

  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border-radius: 50%;
  color: #8B0000;
  font-size: 16px;
}
